[class*="col-"] {
    float: left;
    
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.col-9{

background-image: url(bg_bot_img.jpg), url(bg_bot_img.gif);
    

}

body{
 ddbackground-image: url(Images/bg_slider.jpg);
  background-color:#D8D9D***B;




}


.Reservetable,.Aboutus {
  text-align:center;
  padding-top: 30px;
}
.mybutton{
  background-color:#319E82;
  font-size:30px;
  color:white;
  border-radius:12px;

}
.col2 {
  padding-left: 120px;
}

.col3 {
  padding-left: 120px;
}
.col4 {
  padding-left: 120px;
  color:White;
}
.icons {
  align-items: center;
}
#footer {
  color: White;
  font-size:17px;
}